/*

filename: Harry McDonald

author: Harry McDonald

created: 10/04/2026

last modified: 10/04/2026

description: lab05.html

*/

aside:hover {display:block;}

aside {
    border: 4px inset purple;
    border-radius: 14px;
    margin: 1em;
    padding: 1em;
    width: 30%;
    background:url(images/fade.jpg) repeat-x top left;
    float: right;
    box-shadow: 10px 10px 5px #aaaaaa;
}

header {
    border: solid 1px darkgray;
    margin: 0.5em;
    padding: 0.5em;
    background-color: lightgray;
    text-align: center;
}

footer {
    border-top: double 4px red;
    clear:both;
}

#lists {
    float: left;
}

table {
    margin: auto;
}

#tables {
    float: right;
    margin: auto;
}

#hyperlinks {clear:left; float:left;}

#images {float:right;}

figure {border:  2px solid #ccc}

#lists, #tables, #images, #hyperlinks {
    width: 50%;
    text-align: center;
}

ol, ul, dl {text-align: left;}

article { min-width:30em; }

.menu {display: inline-block}

footer p {display:inline-block;  width:33%}

footer p:first-child { float:left; }

footer p:nth-child(2) {text-align: center; }

footer p:last-child {float:right; text-align:right; }

